<mat-card>
	<mat-card-title>
		<h3>Create Tournament</h3>
	</mat-card-title>
	<mat-card-content>
		<mat-expansion-panel [expanded]="tourneyInfoOpen">
	  		<mat-expansion-panel-header>
			    <mat-panel-title>
			      Tournament Info
			    </mat-panel-title>
		  	</mat-expansion-panel-header>
		  	<div class="layout-row layout-padding" fxLayoutGap="20px">
		  		<form [formGroup]="tourneyInfoForm">
				  	<mat-form-field>
				    	<input matInput placeholder="Tournament Name" formControlName="tournamentName">
				  	</mat-form-field>
				  	<mat-form-field>
				    	<input matInput [matDatepicker]="picker" placeholder="Tournament Date" formControlName="tournamentDate" >
				    	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			  			<mat-datepicker #picker></mat-datepicker>
				  	</mat-form-field>
			  		<mat-checkbox #singleTeamTourney >Single Team Tournament</mat-checkbox>
		  		</form>
		  	</div>
		</mat-expansion-panel>
		<mat-expansion-panel [disabled]="!tourneyInfoForm.valid">
	  		<mat-expansion-panel-header>
			    <mat-panel-title>
			      Select Teams
			    </mat-panel-title>
		  	</mat-expansion-panel-header>
		  	<div class="layout-row layout-padding" *ngIf="!createTeamMode">
			  	<div class="layout-row" fxFlex="45">
				  	<h4>Team 1:</h4>
				  	<div *ngIf="team1.team_name">
				  		<span>{{ team1.team_name }}</span>
				  		<button mat-icon-button (click)="deselectTeam(0)" matTooltip="Edit Team Selection">
				  			<mat-icon>edit</mat-icon>
				  		</button>
				  	</div>
				  	<select-teams *ngIf="!team1.team_name" (onSelect)="selectTeam($event, 0)"></select-teams>
			  	</div>
			  	<div class="layout-row" fxFlex="45" *ngIf="!singleTeamTourney.checked">
				  	<h4>Team 2:</h4>
				  	<div *ngIf="team2.team_name">
				  		<span>{{ team2.team_name }}</span>
				  		<button mat-icon-button (click)="deselectTeam(1)" matTooltip="Edit Team Selection">
				  			<mat-icon>edit</mat-icon>
				  		</button>
				  	</div>
				  	<select-teams *ngIf="!team2.team_name" (onSelect)="selectTeam($event, 1)"></select-teams>
			  	</div>
			  	<div fxFlex="5">
			  		<button mat-icon-button matTooltip="Create New Team" (click)="toggleCreateTeamMode()">
			  			<mat-icon>add_circle</mat-icon>
			  		</button>
			  	</div>
		  	</div>
		  	<div *ngIf="createTeamMode" class="layout-row">
		  		<create-team fxFlex="90"></create-team>
		  		<button mat-button (click)="toggleCreateTeamMode()">Cancel</button>
		  	</div>
		</mat-expansion-panel>
		<mat-expansion-panel [disabled]="!team1.team_name">
	  		<mat-expansion-panel-header>
			    <mat-panel-title>
			      Ballots - {{ team1.team_name|| 'Team 1' }}
			    </mat-panel-title>
		  	</mat-expansion-panel-header>
		</mat-expansion-panel>
		<mat-expansion-panel *ngIf="!singleTeamTourney.checked" [disabled]="!team2.team_name">
	  		<mat-expansion-panel-header>
			    <mat-panel-title>
			      Ballots - {{ team2.team_name|| 'Team 2' }}
			    </mat-panel-title>
		  	</mat-expansion-panel-header>
		</mat-expansion-panel>
	</mat-card-content>
	<mat-card-actions fxLayoutAlign="center right">
		<button mat-raised-button color="primary">Create</button>
		<button mat-raised-button >Cancel</button>
	</mat-card-actions>	
</mat-card>
