<h3 mat-dialog-title>Create Case</h3>
<mat-dialog-content>
	<form [formGroup]="caseForm" class="layout-row layout-padding" fxLayoutGap="10px">
		<mat-form-field fxFlex="50">
			<input matInput placeholder="Case Name" formControlName="name">
		</mat-form-field>
		<div class="mat-input-wrapper" fxFlex="25">
      		<div class="mat-input-infix">
				<mat-select placeholder="Case Type" formControlName="type" >
					<mat-option value="Civil" selected>Civil</mat-option>
					<mat-option value="Criminal">Criminal</mat-option>
				</mat-select>
			</div>
		</div>
		<mat-form-field fxFlex="25">
			<input matInput placeholder="Case Year" formControlName="year">
		</mat-form-field>
	</form>
	<mat-tab-group>
		<mat-tab label="P Witnesses">
			<!-- Add Witness Component -->
			<div *ngIf="!createWitness" class="layout-row">
				<select-witness (onSelect)="addWitness($event, p_witnesses)"  fxFlex="80"></select-witness>
				<button mat-button color="primary" (click)="showCreateWitness()">Create New Witness</button>
			</div>
			<div *ngIf="createWitness" class="layout-row">
				<create-witness fxFlex="90"></create-witness>
				<button mat-button color="primary" (click)="hideCreateWitness()" >Cancel</button>
			</div>
			<mat-chip-list>
				<mat-chip *ngFor="let witness of p_witnesses" color="primary" class="layout-row" (removable)="true" (remove)="removeWitness(witness, p_witnesses)">
					<span>{{ witness.witness_name }}</span>
					<mat-icon matChipRemove>clear</mat-icon>
				</mat-chip>
			</mat-chip-list>
			<mat-divider></mat-divider>			
		</mat-tab>
		<mat-tab label="D Witnesses">
			<div *ngIf="!createWitness" class="layout-row">
				<select-witness (onSelect)="addWitness($event, d_witnesses)"  fxFlex="80"></select-witness>
				<button mat-button color="primary" (click)="showCreateWitness()">Create New Witness</button>
			</div>
			<div *ngIf="createWitness" class="layout-row">
				<create-witness fxFlex="90"></create-witness>
				<button mat-button color="primary" (click)="hideCreateWitness()" >Cancel</button>
			</div>
			<mat-chip-list>
				<mat-chip *ngFor="let witness of d_witnesses" color="primary" class="layout-row" (click)="removeWitness(witness, d_witnesses)">
					<span>{{ witness.witness_name }}</span>
					<mat-icon style="height:20px; width:12px;font-size:inherit;">clear</mat-icon>
				</mat-chip>
			</mat-chip-list>
			<mat-divider></mat-divider>			
		</mat-tab>
		<mat-tab label="Swing Witnesses">
			<div *ngIf="!createWitness" class="layout-row">
				<select-witness (onSelect)="addWitness($event, swing_witnesses)"  fxFlex="80"></select-witness>
				<button mat-button color="primary" (click)="showCreateWitness()">Create New Witness</button>
			</div>
			<div *ngIf="createWitness" class="layout-row">
				<create-witness fxFlex="90"></create-witness>
				<button mat-button color="primary" (click)="hideCreateWitness()" >Cancel</button>
			</div>
			<mat-chip-list>
				<mat-chip *ngFor="let witness of swing_witnesses" color="primary" class="layout-row" (click)="removeWitness(witness, swing_witnesses)">
					<span>{{ witness.witness_name }}</span>
					<mat-icon style="height:20px; width:12px;font-size:inherit;">clear</mat-icon>
				</mat-chip>
			</mat-chip-list>
			<mat-divider></mat-divider>			
		</mat-tab>
	</mat-tab-group>
	
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button color="primary" [disabled]="!caseForm.valid" (click)="createCase()">Create</button>
	<button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>