<mat-progress-bar mode="indeterminate" *ngIf="loading" ></mat-progress-bar>
<div class="layout-row" *ngIf="!loading">
	<!-- preview, selection, filters -->
	<div class="layout-column" fxFlex="33" *ngIf="previewVisible">
		<div class="layout-row layout-padding">
			<mat-form-field fxFlex="80">
				<input matInput #keyword placeholder="Competitor name" >
			</mat-form-field>
			<button mat-icon-button matTooltip="Create Competitor" (click)="showCreateDialog()">
				<mat-icon>add</mat-icon>
			</button>
			<div fxFlex="10" style="z-index: 10; padding-left: 5%;">
				<button mat-icon-button mat-raised-button color="accent" (click)="hidePreview()">
						<mat-icon>chevron_left</mat-icon>
				</button>
			</div>
		</div>
		<div *ngFor="let individual of competitors | competitorFilter:keyword.value" class="layout-row" (click)="selectCompetitor(individual)"
		 [ngClass]="{ 'selected-competitor' : activeCompetitor.id == individual.id }" >
			<competitor-preview  [competitor]="individual"> </competitor-preview>
		</div>
	</div>
	<div fxFlex="5" *ngIf="!previewVisible">
		<button mat-icon-button mat-raised-button color="accent" (click)="showPreview()">
			<mat-icon>chevron_right</mat-icon>
		</button>
	</div>
	<!-- Detail Pane -->
	<div fxFlex class="layout-row">

		<competitor-detail [activeCompetitor]="activeCompetitor"></competitor-detail>
	</div>
</div>