<form >
  <mat-form-field fxFlex="60">
    <input type="text" placeholder="Team Name" aria-label="Team Name" matInput [formControl]="teamsControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.team_name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-icon-button [disabled]="!teamsControl.value" (click)="addTeam()" matTooltip="Select Team">
  	<mat-icon>add</mat-icon>
  </button>
</form>