<div class="container">
	<div class="layout-row">
	    <mat-form-field floatPlaceholder="never" fxFlex="40">
	      <input matInput #filter placeholder="Filter users">
	    </mat-form-field>
	    <mat-paginator fxFlex="60" #paginator
		        [length]="totalResults"
		        [pageIndex]="pageIndex"
		        [pageSize]="pageSize"
		        [pageSizeOptions]="pageSizeOptions">
		</mat-paginator>	
  	</div>

	<mat-table #table [dataSource]="dataSource" matSort>

	    <!--- Note that these columns can be defined in any order.
	          The actual rendered columns are set as a property on the row definition" -->
	    <ng-container cdkColumnDef="date">
	      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Date</mat-header-cell>
	      <mat-cell *cdkCellDef="let row"> {{ row.element_date | date}} </mat-cell>
	    </ng-container>

	    <ng-container cdkColumnDef="witness_name">
	      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Witness</mat-header-cell>
	      <mat-cell *cdkCellDef="let row" > {{ row.witness.witness_name || "N/A" }} </mat-cell>
	    </ng-container>    

	   	<ng-container cdkColumnDef="category">
	      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Category</mat-header-cell>
	      <mat-cell *cdkCellDef="let row"> {{ row.category || "N/A" }} </mat-cell>
	    </ng-container> 

	   	<ng-container cdkColumnDef="role_type">
	      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Role</mat-header-cell>
	      <mat-cell *cdkCellDef="let row"> {{ row.role_type || "N/A" }} </mat-cell>
	    </ng-container> 

	    <ng-container cdkColumnDef="z_score">
	      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Z Avg</mat-header-cell>
	      <mat-cell *cdkCellDef="let row"> {{ row.score.average_z || '0' }} </mat-cell>
	    </ng-container>    

	    <ng-container cdkColumnDef="raw_score">
	      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Raw Score</mat-header-cell>
	      <mat-cell *cdkCellDef="let row"> {{ row.score.raw_score || "N/A" }} </mat-cell>
	    </ng-container> 	    

	    <ng-container cdkColumnDef="side">
	      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Side</mat-header-cell>
	      <mat-cell *cdkCellDef="let row"> {{ row.side || "N/A" }} </mat-cell>
	    </ng-container>  

	    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
	    <mat-row class="hover-highlight" *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
	 </mat-table>
</div>