<div class="container">
	<md-table #table [dataSource]="dataSource" mdSort>

	    <!--- Note that these columns can be defined in any order.
	          The actual rendered columns are set as a property on the row definition" -->

	    <ng-container cdkColumnDef="competitor_name">
	      <md-header-cell *cdkHeaderCellDef md-sort-header>Competitor</md-header-cell>
	      <md-cell *cdkCellDef="let row"> {{ row.competitor_name }} </md-cell>
	    </ng-container>

	    <ng-container cdkColumnDef="witness_name">
	      <md-header-cell *cdkHeaderCellDef md-sort-header>Witness</md-header-cell>
	      <md-cell *cdkCellDef="let row"> {{ row.witness_name || "N/A" }} </md-cell>
	    </ng-container>    

	    <!--     <ng-container cdkColumnDef="agency">
	      <md-header-cell *cdkHeaderCellDef md-sort-header>Agency</md-header-cell>
	      <md-cell *cdkCellDef="let row" > {{ row.agency || '' }} </md-cell>
	    </ng-container> -->

	    <!--     <ng-container cdkColumnDef="offSym">
	      <md-header-cell *cdkHeaderCellDef md-sort-header>Office Symbol</md-header-cell>
	      <md-cell *cdkCellDef="let row" > {{ row.offSym || '' }} </md-cell>
	    </ng-container> -->

	    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
	    <md-row class="hover-highlight" *cdkRowDef="let row; columns: displayedColumns;"></md-row>
	 </md-table>
</div>