<mat-card class="competitor-details">
	<mat-card-title class="layout-padding" style="margin-bottom:0;">
<!-- 			<span *ngIf="!editMode" fxFlex="70">{{ activeCompetitor.first_name }}
			</span> -->
			<mat-form-field fxFlex="50">
				<input matInput #name [value]="activeCompetitor.name" [readonly]="!editMode">
			</mat-form-field>
			<span fxFlex="5"></span>
			<mat-form-field fxFlex="15">
	    		<input matInput #competitorYear placeholder="Grad Year" [value]="activeCompetitor.grad_year" [readonly]="!editMode">
	  		</mat-form-field>
	  		<mat-checkbox style="padding-top: 4%;" *ngIf="editMode" #checkBox [checked]="activeCompetitor.active" >Active</mat-checkbox>
			<span fxFlex></span>
			<button *ngIf="!editMode" mat-icon-button (click)="enableEditMode()">
				<mat-icon >edit</mat-icon>
			</button>
			<button *ngIf="editMode" mat-icon-button (click)="cancelEdit()">
				<mat-icon>cancel</mat-icon>
			</button>
			<button *ngIf="editMode" mat-icon-button (click)="save()">
				<mat-icon style="line-height:18px">save</mat-icon>
			</button>
	</mat-card-title>
	<mat-card-content>
		<mat-tab-group >
			<mat-tab label="Elements">
				<element-table [elementsList]="activeCompetitor.elements" ></element-table>
			</mat-tab>
<!-- 			<mat-tab label="Charts">
				Charts plotting performance over time/role
			</mat-tab> -->
		</mat-tab-group>

	</mat-card-content>
	<mat-card-footer>
		
	</mat-card-footer>
</mat-card>
