<form class="layout-column" [formGroup]="teamForm">
	<div class="layout-row">
		<mat-form-field fxFlex="40">
			<input matInput placeholder="Team Name" formControlName="name">
		</mat-form-field>
		<span fxFlex="5"></span>
		<mat-form-field fxFlex="40">
		    <input type="text" placeholder="Competitor Name" aria-label="Competitor Name" matInput [formControl]="competitorControl" [matAutocomplete]="auto">
		    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
		      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
		        {{ option.name }}
		      </mat-option>
		    </mat-autocomplete>
		</mat-form-field>
		<button mat-icon-button [disabled]="!competitorControl.value" (click)="addCompetitor()" matTooltip="Select Competitor">
		  	<mat-icon>add</mat-icon>
		</button>		
	</div>
	<div class="layout-row layout-padding">
		<mat-chip-list fxFlex>
			<mat-chip *ngFor="let competitor of selectedCompetitors" color="primary" (click)="removeCompetitor(competitor.id)">
				<span>{{ competitor.name }}</span>
				<mat-icon matChipRemove>clear</mat-icon>
			</mat-chip>
		</mat-chip-list>
	</div>
	<div class="layout-row " style="margin-top:1%;" fxLayoutAlign="center right">
			<button mat-raised-button matTooltip="Create Team"
			color="primary" [disabled]="!teamForm.valid || selectedCompetitors.length < 6" (click)="createTeam()">
				Create
			</button>
			<button mat-raised-button matTooltip="Cancel">Cancel</button>	
	</div>


</form>
