<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav >
  Navigation</mat-sidenav>
  <div class="content">
    <!-- Nav Bar -->
    <mat-toolbar color="primary">
      <span>VaMT Datalab</span>
      <div style="margin-left:25%;">
      	<button mat-button [routerLink]="['competitors']">Competitors</button>
      	<button mat-button [routerLink]="['cases']">Cases</button>
        <button mat-button [routerLink]="['ballots']">Ballots</button>
  	  </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>



